@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.navbar{
    background-color: rgba(10, 10, 10, 1);
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.navbar .upper-nav{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(10, 10, 10, 0.98);
    justify-content: space-around;
    align-items: center;
}
.navbar .upper-nav .logo{
    font-size: 40px;
    color: white;
    font-family: 'Otomanopee One', sans-serif;
 }

.navbar .upper-nav .search{
    font-size: 40px;
    /*background-color: rosybrown;*/
    align-items: center;
    display: flex;
}
.navbar .upper-nav .search .search-box{
    height: 30px;
    background-color: #ede9ff;
    width: 350px;
    border: 0;
    border-radius: 10px 2px 0px 10px;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 10px;
}
.navbar .upper-nav .search .search-box:focus{
    height: 30px;
    background-color: white;
    width: 350px;
    border: 0;
    border-radius: 10px 2px 0px 10px;
    /*outline: none;*/
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 10px;
    transition: 0.2s;
    /*box-shadow: 2px 2px 2px 2px #ff834b;*/
    z-index: 1;
}

span{
    margin-left: 3px;
}

.navbar .upper-nav .mini-nav{
    /*background-color: greenyellow;*/
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.navbar .upper-nav .mini-nav .link{
    /*background-color: greenyellow;*/
    /*width: 30%;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    align-items: center;
    /*background-color: #ff834b;*/
    display: flex;
}
.navbar .upper-nav .mini-nav a{
    text-decoration: none;
    color: white;
}

.navbar .upper-nav .mini-nav a:hover{
    text-decoration: none;
    color: #A3AD93;
}



.navbar .categories{
    margin-left: 10%;
    top: 0;
    width: 80%;
    background-color: rgba(10, 10, 10, 0.98);
    display: table;
    justify-content: space-around;
    /*text-align: center;*/
    /*align-items: center;*/
    z-index: 1;
}



.navbar .categories ul{
    display: table-row;
    width: 100%;
}

.navbar .categories .category-item{
    list-style: none;
    display: table-cell;
    text-align: center;
    /*width: 100%;*/
    align-items: center;
}

.navbar .categories .category-item:hover{
    list-style: none;
    display: table-cell;
    text-align: center;
    /*width: 100%;*/
    align-items: center;
    /*background-color: red;*/
    cursor: pointer;
    /*border-bottom: 3px solid red;*/
    z-index: 1;
}

.navbar .categories .category-item:hover .category-menu{
    /*display: block;*/
    left: 10%;
    height: 60%;
    /*top: calc( 20% + 0rem ); !*100% - height*!*/
    transition: 0.5s ease-in;
    /*opacity: 1;*/
    z-index: 1;
}

.navbar .categories .category-item:hover a{
    color: #ff834b;
}
.navbar .categories .category-item:hover body{
    background-color: rgba(156, 156, 150, 0.91);
}

.navbar .categories .category-item li{
     list-style: none;
     display: table-cell;
     text-align: center;
     width: 100%;
 }
.navbar .categories .category-item li:hover .navbar .categories .category-item .category-menu{
    /*list-style: none;*/
    /*display: table-cell;*/
    /*text-align: center;*/
    /*width: 100%;*/
    display: block;
    opacity: 1;
}

.navbar .categories .category-item .category-menu{
    background-color: rgba(10, 10, 10, 1);
    position: absolute;
    /*width:100px;*/
    /*display: none;*/
    width: 80%;
    height: 0;
    /*opacity: 0;*/
    border-radius: 5px;
    transition: 0s ease-in;
    overflow: hidden;
    align-items: center;
    color: #fff;
}

.navbar .categories a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*display: table-cell;*/
    width: 100%;

}
.navbar .categories a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #FFAD69;
}
