@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.navbar{
    background-color: #61738E;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.navbar .upper-nav{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #61738E;
    justify-content: space-around;
    align-items: center;
}
.navbar .upper-nav .logo{
    font-size: 40px;
    color: white;
    font-family: 'Otomanopee One', sans-serif;
 }

.navbar .upper-nav .search{
    font-size: 40px;
    /*background-color: rosybrown;*/
    align-items: center;
    display: flex;
}
.navbar .upper-nav .search .search-box{
    height: 30px;
    background-color: white;
    width: 350px;
    border: 0;
    border-radius: 10px 2px 0px 10px;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 10px;
}


.navbar .upper-nav .mini-nav{
    /*background-color: greenyellow;*/
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.navbar .upper-nav .mini-nav a{
    text-decoration: none;
    color: white;
}

.navbar .upper-nav .mini-nav a:hover{
    text-decoration: none;
    color: #A3AD93;
}



.navbar .categories{
    margin-left: 15%;
    top: 0;
    width: 70%;
    background-color: #61738E;
    display: flex;
    justify-content: space-around;
}

.navbar .categories a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.navbar .categories a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #FFAD69;
}
