
.footer{
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.footer .content{
    height: 92%;
    color: white;
    display: flex;
    justify-content: space-around;
    /*background-color: white;*/
    align-items: center;
}

.footer .content #content-item{
    /*border: 1px solid red;*/
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    font-family: "Yu Gothic UI Light", serif;
    height: 50%;
}
#content-item h2{
    /*color: #ff834b;;*/
    margin-bottom: 15px;
}
#content-item p{
    padding: 3px;
}
#content-item p a:hover{
    /*padding: 3px;*/
    color: #ff834b;
    transition: 0.2s;
}

#content-item p a{
    color: white;
    text-decoration: none;
}
/*.footer .content .general{*/
/*    border-bottom: 1px solid red;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-family: "Yu Gothic UI Light", serif;*/
/*}*/
/*.footer .content .socials{*/
/*    border-bottom: 1px solid red;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-family: "Yu Gothic UI Light", serif;*/
/*}*/

.footer .copyright {
    /*position: relative;*/
    bottom: 0;
    width: 100%;
    color: white;
    font-family: "Yu Gothic UI Light", serif;
    background-color: #232323;
    height: 8%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


